.dynamicBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: #9c9494bf;
}

.actionBtn {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.cdkBox {
  height: 645px;
  overflow-x: hidden;
}
