<form [formGroup]="form">
  <div class="form-row">
    <mat-form-field class="form-group col-md-4">
      <label for="country">Country</label>
      <mat-select
        [formControl]="country"
        name="country"
        [errorStateMatcher]="matcher"
        class="form-control"
        id="country"
      >
        <mat-option  class="not-empty-select" *ngFor="let country of countries" [value]="country.isoCode">
          {{ country.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="country.hasError('required')"
        >Please select a country.</mat-error
      >
    </mat-form-field>
    <!-- <button mat-stroked-button class="btn" (click)="country.reset()">
      Clear
    </button> -->
    <p></p>
    <mat-form-field class="form-group col-md-4">
      <label>State</label>
      <mat-select
        [formControl]="state"
        name="state"
        [errorStateMatcher]="matcher"
        class="form-control"
        id="state"
      >
        <mat-option *ngFor="let state of states" [value]="state.isoCode">
          {{ state.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="state.hasError('required')"
        >Please select a state.</mat-error
      >
    </mat-form-field>
    <!-- <button mat-stroked-button class="btn" (click)="state.reset()">
      Clear
    </button> -->
    <p></p>
    <mat-form-field class="form-group col-md-6">
      <label>City</label>
      <mat-select
        class="form-control"
        [formControl]="city"
        name="city"
        [errorStateMatcher]="matcher"
        id="city"
      >
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="city.hasError('required')"
        >Please select a city.</mat-error
      >
    </mat-form-field>
    <!-- <button  mat-stroked-button class="btn" (click)="city.reset()">Clear</button> -->
  </div>
</form>
