.bannerBox {
  border: solid;
  font-weight: bold;
  padding: 5px;
}

.bannerOuterBox,
.bannerOuterBox div {
  border: solid;
  padding: 8px 10px;
}
.bannerOuterBox .bannerInnerBox {
  padding: 8px 10px 4px;
}
